[alias]
log = log --graph
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
d = diff --cached

[push]
default = simple # Safe option

[merge]
ff = false  # Make --no-ff merges default
