[user]
name = Io
email = me@me.me

[alias]
backup = "!f() { git bundle create $1 --all; }; f"
log = log --graph
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
d = diff --cached

[push]
default = simple # Safe option

[merge]
ff = false  # Make --no-ff merges default
